@model Inmobiliaria_DotNet.Models.Pago

@{
	ViewData["Title"] = "AltaPago";
	var listaContratos = (IList<Contrato>)ViewBag.Contrato;
}

<a asp-action="Index" class="btn btn-sm btn-light">
	<i class="fa-solid fa-chevron-left"></i> Volver a la lista
</a>

<h1>Alta Pago</h1>

<h4>Pago</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="AltaPago">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="IdContrato" class="control-label">Contrato</label>
				<select class="form-control" name="IdContrato" id="idContrato">
					<option value="" disabled selected>Seleccione el contrato</option>
					@foreach (var item in listaContratos)
					{
						<option value="@item.idContrato">@(item.ToString()), @item.Monto</option>
					}
				</select>
				<span asp-validation-for="IdContrato" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FechaPago" class="control-label"></label>
				<input asp-for="FechaPago" class="form-control" />
				<span asp-validation-for="FechaPago" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Monto" class="control-label"></label>
				<input asp-for="Monto" class="form-control" type="number"/>
				<small id="montoHint" class="form-text text-muted">Sugerencia: <span id="precioSugerido"></span></small>
				<span asp-validation-for="Monto" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="nroPago" class="control-label"></label>
				<input asp-for="nroPago" class="form-control"/>
				<span asp-validation-for="nroPago" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var selectContrato = document.getElementById('idContrato');
		    var priceHintSpan = document.getElementById('precioSugerido');

        selectContrato.addEventListener('change', function () {
            var selectedOption = selectContrato.options[selectContrato.selectedIndex];
            var optionText = selectedOption.textContent.trim();  // Obtener el texto de la opcion elegida

            // Extraer el precio
            var precio = optionText.split(', ')[1];
						console.log(precio)
        		priceHintSpan.textContent = precio ? precio : '';
        });
    });
</script>