@{
	ViewData["Title"] = "Home Page";
}

<p>hola</p>

@if (!User.Identity.IsAuthenticated)
{
	await Html.RenderPartialAsync("_Login", new LoginView());
	<a href="@Url.RouteUrl("login")">Ir al login</a>
}