@model Inmobiliaria_DotNet.Models.Inquilino

@{
	ViewData["Title"] = "EditarInquilino";
}

<a asp-action="Index" class="btn btn-sm btn-light">
	<i class="fa-solid fa-chevron-left"></i> Volver a la lista
</a>

<h1>EditarInquilino</h1>

<h4>Inquilino</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="EditarInquilino">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			@Html.HiddenFor(model => model.idInquilino)
			<div class="form-group">
				<label asp-for="Nombre" class="control-label"></label>
				<input asp-for="Nombre" class="form-control" />
				<span asp-validation-for="Nombre" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Apellido" class="control-label"></label>
				<input asp-for="Apellido" class="form-control" />
				<span asp-validation-for="Apellido" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Dni" class="control-label"></label>
				<input asp-for="Dni" class="form-control" />
				<span asp-validation-for="Dni" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Telefono" class="control-label"></label>
				<input asp-for="Telefono" class="form-control" />
				<span asp-validation-for="Telefono" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Editar" class="btn btn-primary mt-3 mb-3"/>
			</div>
		</form>
	</div>
</div>

